@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cinza-texto: #516171;
    --cinza-claro: #f1f1f1;
    --vermelho: #ff2c02;
    --vermelho-escuro: #c02203;
    --vermelho-transparente: #ff2c0257;
    --branco: #fff;
    --azul-escuro: #092032;
    --preto: #161414;
}

body {
    font-family: 'Barlow', sans-serif;
    line-height: 1.7;
    color: var(--cinza-texto);
}

a {
    font-weight: 500!important;
    color: var(--azul-escuro);
    transition: 0.4s ease;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700!important;
    color: var(--azul-escuro)!important;
}

img {
    width: 100%;
}

.bg-cover {
    background-size: cover!important;
    background-position: center!important;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.top-nav {
    background-color: var(--vermelho);
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-nav p {
    display: inline-block;
    color: var(--branco);
    margin-bottom: 0;
    margin-right: 16px;
}

.top-nav i,
.top-nav span {
    vertical-align: middle;
}

.redes-sociais a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--branco);
    background-color: rgba(255, 255, 255, 0.3);
    width: 34px;
    height: 34px;
    border-radius: 50%;
    font-size: 17px;
    cursor: pointer;
}

.redes-sociais a:hover {
    background-color: var(--branco);
    color: var(--vermelho);
}